body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  max-width:22%;
  height:20%;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  max-width:22%;
  height:20%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20;
  margin-right: 20;
  /* font-size: 3; */
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  text-align: center;
  width:100%;
  height: 100%;
}

/* Shadow untuk image categories */
.column img:hover {
  opacity: 10;
}
