body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  max-width:100%;
  height:auto;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  max-width:30%;
  height:auto;
  font-size: 3;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  text-align: center;
  width:90%;
  height: 50%;
  padding: 10;
}

/* Shadow untuk image categories */
.column img:hover {
  opacity: 10;
}
