body {
    background-color: #282c34;
    color: white;
    padding: 40%;
    font-family: Arial;
    text-align: center;
    padding: 40px;
  }

img{
  margin: 45;
  padding: 5%;
  text-align: 'justify';
}